.mdc-top-app-bar {
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  background-color: #fff;
  @extend %transition--long;
  #valerieSharp--logo {
    @extend %transition--long;
  }
}
.body--ux-universe .mdc-top-app-bar {
  background-color: #030117;
  //box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 6px rgba(266,255,255,0.1);
  //background-color: transparent;
  a {
    color: #fff;
  }
  #valerieSharp--logo {
    #triangle {
      stroke: #ffffff;
    }
    #s--outline {
      fill: #ffffff;
    }
    #v--outline__right {
      fill: $mdc-theme-primary;
    }
  }
}

.body--ux-universe {
  &::before {
    opacity: 1;
    @extend %transition--long;
  }

  //background: linear-gradient(to bottom, #020100, #03001e, #001639, #1a1556, #6a5188, #a38eb3, #fdeff9);
  //background-color: #fff;
  //opacity: 1;
  color: #fff;
  h1, h2, .mdc-typo, .mdc-text {
    background: transparent;
  }


}
