.mdc-top-app-bar--loading {
  .mdc-top-app-bar {
    border-bottom: 5px solid $mdc-theme-black;
    background-color: $mdc-theme-black;
  }
  .mdc-top-bar__action-item-text {
    color: #fff;
  }
}

.testing {
  body::before {
    opacity: 1;
    background: lavender;
    @extend %transition--long;
  }

  //background: linear-gradient(to bottom, #020100, #03001e, #001639, #1a1556, #6a5188, #a38eb3, #fdeff9);
  //background-color: #fff;
  //opacity: 1;
  color: #fff;
  h1, h2 {
    background: transparent;
  }
}
