$star-count: 2000;

@function multiple-box-shadow($n) {
  $value: #{ random( $star-count ) }px #{ random( $star-count ) }px #fff;
  @for $i from 2 through $n {
    $value: #{ $value }, #{ random( $star-count ) }px #{random( $star-count ) }px #fff;
  }
  @return unquote( $value );
}


$shadows-small:  multiple-box-shadow( 700 );
$shadows-medium: multiple-box-shadow( 200 );
$shadows-big:    multiple-box-shadow( 100 );
.body--ux-universe {
  body {
    //height: 100vh;
    background: radial-gradient(
        ellipse at bottom,
        #1b2735 0%,
        #000000 100%
    );
    //background: linear-gradient(to bottom, #020100, #03001e, #001639, #1a1556, #6a5188, #a38eb3, #fdeff9);
    //background-color: #fff;
    //opacity: 1;
    //color: #fff;
    //overflow: hidden;
  }
  body::before {
    //opacity: 1;
    @extend %transition--long;
    h1, h2 {
      background: transparent;
    }
  }
  .space {
    background: radial-gradient(
        ellipse at bottom,
        #30263e 0%,
        #384178 20%,
        #252527 80%,
        #000000 100%
    );
    //animation: 25s space-color infinite;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }

  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    //animation: anim-star 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: #{ $star-count }px;
      width: inherit;
      height: inherit;
      opacity: inherit;
      background: inherit;
      box-shadow: inherit;
      filter: inherit;
    }

    &--small {
      box-shadow: $shadows-small;
      opacity: 0.4;
      filter: blur(1px);
    }

    &--medium {
      width: 2px;
      height: 2px;
      box-shadow: $shadows-medium;
      animation-duration: 175s;
      filter: blur(0.25px);
      opacity: 0.6;
    }

    &--big {
      width: 3px;
      height: 3px;
      box-shadow: $shadows-big;
      //animation-duration: 250s;
    }
  }

  .shooting-stars {
    transform: rotate(20deg);
    height: 150vh;
    width: 120vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% ) rotate(20deg);
  }

  .shooting-star {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    //position: fixed;
    //animation: shoot-star 10s linear infinite;

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 130px;
      right: 1px;
      top: 0;
      height: inherit;
      background: linear-gradient(
          to right,
          rgba( #fff, 0 ) 0%,
          rgba( #fff, 0.4 ) 100%
      );
    }

    &--mid {
      //animation-duration: 5s;
      top: 60%;
      //animation-delay: 4s;
    }

    &--meh {
      //animation-name: shoot-star-pause;
      //animation-duration: 8s;
      top: 50%;
      //animation-delay: 1s;
    }

    &--fast {
      width: 1px;
      height: 1px;
      //animation: shoot-star-pause 10s linear infinite;
      top: 90%;
      //animation-delay: 2s;
    }
  }

  @keyframes anim-star {
    from {
      transform: translateY( 0px );
    }
    to {
      transform: translateY( -#{ $star-count }px );
    }
  }

  @keyframes space-color {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.15;
    }
    25% {
      opacity: 0;
    }
    35% {
      opacity: 0.38;
    }
    50% {
      opacity: 0.6;
    }
    60% {
      opacity: 0.3;
    }
    65% {
      opacity: 0.45;
    }
    85% {
      opacity: 0.25;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes shoot-star {
    0% {
      left: -100px;
    }
    70% {
      left: calc( 100% + 100px );
    }
    100% {
      left: calc( 100% + 100px );
    }
  }

  @keyframes shoot-star-pause {
    0% {
      left: -100px;
    }
    20% {
      left: calc( 100% + 100px );
    }
    100% {
      left: calc( 100% + 100px );
    }
  }
}
