@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Ubuntu:700');

$mdc-theme-primary: #F7B538; // Purple 500
$mdc-theme-secondary: #BEE5BF; // Orange A200
$mdc-theme-background: #FDFFFC; // White
// custom colors
//$mdc-theme-purple: #44355B; // Purple
$mdc-theme-purple: #5B2A86; // Purple
$mdc-theme-dark-purple: #360568; // Purple
$mdc-theme-blue: #086788; // Blue
$text-color: #37371F;
$mdc-theme-black: #020100;
$mdc-theme-black-1: #242423;
$mdc-theme-black-2: #333533;

@import "vue-mdc-adapter/dist/styles";
@import "navbar";
@import "home";

// mixin or utils
%transition {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
%transition--long {
  -webkit-transition: all 5s ease-out;
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  transition: all 5s ease-out;
}

// FONTS
body {
  font-family: 'Cabin Condensed', sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  //transition: all 0.5s;
  //-webkit-transition: all 0.5s; /* Safari */

}

h1, h2, h3,
h4, h5, h6,
.mdc-button,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}

// BUTTON
.mdc-button--raised:not(:disabled) {
  background-color: $mdc-theme-secondary;
  color: $text-color;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.text-center {
  text-align: center;
}

